body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center; /* Centraliza o conteúdo na tela */
}

section {
    background: white;
    border-radius: 10px; /* Deixa as bordas circulares */
    padding: 15px;
    width: 500px;
    margin: auto; /* Centraliza o conteúdo na tela */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

div#res {
    text-align: center;
}
footer {
    color: white;
    text-align: center; /* Centraliza o conteúdo na tela */
    font-style: italic;
}